*_generation_script*
*_inst.vhd
*.bak
*.cmp
*.done
*.eqn
*.hex
*.html
*.json
*.jdi
# *.mif
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.ini
*.do
*.bak
*.vo
*.sft
*.xrf
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary
*.tcl
*msim_transcript
*.wlf
*.txt
*~
*example*
*sopc_*
*.pyc
*.vcd
*.xml
*.f
*.vvp
*.fst
*transcript
*.qsf
*old
*.vcd

/db/
/greybox_tmp/
/incremental_db/
/output_files/
/simulation/
